Table{
  text-align: center;
  table-layout: fixed;
  width: 100%
}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
  min-height: 100vh;
  width: auto;
  /* background: -moz-linear-gradient(45deg, rgba(246, 246, 252, 0.69), rgba(248, 248, 250, 0.6) 100%);
  background: -webkit-linear-gradient(45deg, rgba(173, 173, 196, 0.69), rgba(163, 186, 236, 0.6) 100%);
  background: linear-gradient(45deg, rgba(173, 173, 196, 0.69), rgba(163, 186, 236, 0.6) 100%); */
  background: rgb(192, 192, 167);
}

.current-day{
  background-color: rgb(116, 157, 233);
  border-radius: 5%;
  color: white;
}

.avaliable{
  background-color: rgb(115, 145, 209);
}

.not-avaliable{
  background-color: rgb(61, 48, 48);
  color: white;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

.hidePopupWindow {
  visibility: hidden;
}

.displayPopupWindow {
  visibility: visible;
  position: absolute;
  padding:15px;
  margin:-5em 0 3em;
  color: white;
  background:#1c67f3;
  border-radius: 10px;
  font-size: 13px;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s
}

.displayPopupWindow:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 30px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #1c67f3 transparent;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
